body {
	cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.slider {
	height: 100%;
}

img {
	max-height: 720px;
	max-width: 640px;
	width: expression(this.width> 640 && this.height < this.width ? 640: true);
	height: expression(this.height> 720 ? 720: true);
}

.slider-slide {
	color: #000;
	background-color: #fff;
	text-align: center;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

.pane {
	position: initial;
}

.mui-progressbar {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 2px;
	-webkit-transform-origin: center top;
	transform-origin: center top;
	vertical-align: middle;
	border-radius: 2px;
	background: #b6b6b6;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.mui-progressbar span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: 150ms;
	transition: 150ms;
	-webkit-transform: translate3d(0%, 0, 0);
	transform: translate3d(0, 0, 0);
	background: #007aff;
	border-radius: 4px;
	transform: translate3d(0%, 0px, 0px);
	background-color: rgb(221, 82, 77);
}

.mui-numbox [class*=numbox-btn] {
	font-size: 18px;
	font-weight: 400;
	line-height: 100%;
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 40px;
	height: 100%;
	padding: 0;
	color: #555;
	border: none;
	border-radius: 0;
	background-color: #f9f9f9;
}

.mui-btn {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42;
	position: relative;
	display: inline-block;
	margin-bottom: 0;
	padding: 6px 12px;
	cursor: pointer;
	-webkit-transition: all;
	transition: all;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
	-webkit-transition-duration: .2s;
	transition-duration: .2s;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	background-color: #fff;
	background-clip: padding-box;
}

.mui-numbox .mui-input-numbox,
.mui-numbox .mui-numbox-input {
	display: inline-block;
	overflow: hidden;
	height: 100%;
	margin: 0;
	width: 190px;
	text-align: center;
	text-overflow: ellipsis;
	word-break: normal;
	border: none!important;
	border-radius: 0!important;
}

.content {
	background-color: #D9D9D9;
}

i .icon .ion-chevron-right {
	font-size: 20px;
}

.list {
	margin-bottom: 10px;
}