<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/common.css" rel="stylesheet" />
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script type="text/javascript">
			var app = angular.module('ionicApp', ['ionic'])
			app.controller('IntroCtrl', function($scope, $state, $ionicSlideBoxDelegate) {
				//为了验证属性active-slide定义的模型，angularjs是mvc模式
				$scope.carouseList = [{
					url: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					img_id: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					name: '5371a63759ed6.jpg'
				}, {
					url: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					img_id: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					name: '5371a63759ed6.jpg'
				}, {
					url: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					img_id: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					name: '5371a63759ed6.jpg'
				}];
				$scope.startApp = function() {
					$state.go('main');
				};
				$scope.next = function() {
					$ionicSlideBoxDelegate.next();
				};
				$scope.previous = function() {
					$ionicSlideBoxDelegate.previous();
				};

				// Called each time the slide changes
				$scope.slideChanged = function(index) {
					$scope.slideIndex = index;
				};
			});

			app.controller('AppCtrl', ['$scope', '$ionicPopover', '$timeout', function($scope, $ionicPopover, $timeout) {
				$scope.choose = function(count) {
					var num_add = parseInt($scope.quantity);
					if(count >= $scope.max) {
						$scope.quantity = $scope.max;
						$scope.maxSwitch = true;
						$scope.minSwitch = false;
					} else {
						$scope.quantity = count;
						$scope.maxSwitch = false;
						$scope.minSwitch = false;
					}
				}
				$scope.numAdd = function() {
					var num_add = parseInt($scope.quantity);
					$scope.maxSwitch = false;
					$scope.minSwitch = false;
					if($scope.quantity == "") {
						num_add = 1;
					}
					if(num_add < $scope.max) {
						$scope.quantity = num_add + 1;
					}
					if($scope.quantity == $scope.max) {
						$scope.maxSwitch = true;
					}
				}
				$scope.numDec = function() {
					$scope.maxSwitch = false;
					$scope.minSwitch = false;
					var num_dec = parseInt($scope.quantity);
					if(num_dec > $scope.min) {
						$scope.quantity = num_dec - 1;
					}
					if($scope.quantity == $scope.min) {
						$scope.minSwitch = true;
					}
				}
				$scope.popover = $ionicPopover.fromTemplateUrl('my-popover.html', {
					scope: $scope
				});
				// .fromTemplateUrl() 方法
				$ionicPopover.fromTemplateUrl('my-popover.html', {
					scope: $scope
				}).then(function(popover) {
					$scope.popover = popover;
				});
				$scope.openPopover = function($event) {
					$scope.popover.show($event);
				};
				$scope.closePopover = function() {
					$scope.popover.hide();
				};
				$scope.closePopover = function() {
					$scope.popover.hide();
				};
				// 清除浮动框
				$scope.$on('$destroy', function() {
					$scope.popover.remove();
				});
				// 在隐藏浮动框后执行
				$scope.$on('popover.hidden', function() {
					// 执行代码
				});
				// 移除浮动框后执行
				$scope.$on('popover.removed', function() {
					// 执行代码
				});

			}])
		</script>
		<style>
			.popover {
				left: 0px;
				width: 100%;
				max-width: 640px;
			}
			
			.nav {
				width: 100%;
				background: #e42112;
				position: fixed;
				max-width: 640px;
				margin: 0 auto;
				bottom: 0;
				line-height: 40px;
				text-align: center;
				vertical-align: middle;
				margin: 0px auto;
				max-width: 640px;
				display: block;
				background-color: white;
			}
			
			.button-light {
				width: 80px;
				line-height: 32px;
				height: 32px;
				min-height: 0px;
			}
			
			.button.button-light {
				border-color: #D9D9D9;
			}
			
			.topaydiv {
				float: right;
				background-color: #e42112;
				text-align: center;
				vertical-align: middle;
				width: 80px;
				font-size: 14px;
				line-height: 40px;
				color: white;
			}
			
			.platform-android .popover-backdrop,
			.platform-android .popover-backdrop.active {
				background-color: rgba(0, 0, 0, .4);
			}
			
			.popover-backdrop {
				background-color: rgba(0, 0, 0, .4);
			}
		</style>
	</head>

	<body ng-app="ionicApp" ng-controller="AppCtrl" ng-init="quantity=1;min=1;max=9;maxSwitch=false;minSwitch=true">
		<!--顶部-->
		<div class="bar bar-header bar-dark">
			<button class="button button-icon icon ion-chevron-left" onclick="javascript: history.go(-1);"></button>
			<div class="h1 title">产品详情</div>
			<button class="button button-icon icon ion-share"></button>
		</div>
		<div class="bar bar-footer bar-assertive" ng-click="openPopover($event)">
			<div class="title" style="margin: 0px;">立即夺宝</div>
		</div>

		<script id="my-popover.html" type="text/ng-template" ng-click="closePopover()">
			<div id="picture" class="list" style="padding: 0px;bottom: 0px; position: fixed;width: 100%;">
				<div class="item item-icon-right" style="text-align: center;border-width:0px;padding-right: 0px;">
					参与人次
					<i ng-click="closePopover()" class="icon ion-android-cancel" style="font-size: 20px;"></i>
				</div>
				<div class="item" style="text-align: center;border-width:0px">
					<button class="button button-light" ng-click="choose(5)">5次</button>
					<button class="button button-light" style="margin-left: 8px;margin-right: 8px;" ng-click="choose(10)">10次</button>
					<button class="button button-light" ng-click="choose(20)">20次</button>
				</div>
				<div class="item" style="text-align: center;border-width:0px">
					<div class="mui-numbox" numbox-min="{{min}}" numbox-max="{{max}}}" style="width:100% ; text-align: center; height: 32px;">
						<input type="button" class="mui-btn mui-btn-numbox-minus" ng-click="numDec()" type="button" ng-disabled="minSwitch" value="-"></input>
						<input id="input_participate_count" class="mui-input-numbox" readonly="true" type="number" value="{{quantity}}">
						<input type="button" class="mui-btn mui-btn-numbox-plus" ng-click="numAdd()" ng-disabled="maxSwitch" type="button" value=" + "></button>
					</div>
				</div>
				<div class="item" style="padding: 0px; height: 40px;">
					<div onclick="participate()" class="topaydiv">立即夺宝</div>
					<div style="float: right; padding-right: 10px; text-align: center;line-height:40px;vertical-align: middle;" id="total">合计：￥{{quantity}}</div>
				</div>
			</div>
		</script>
		<ion-content ng-click="closePopover()" zooming="true" direction="y" scrollbar-y="false" class="content  has-header has-footer">

			<div class="content" ng-controller="IntroCtrl">
				<ion-slide-box style="max-width: 640px;max-height: 200px;" on-slide-changed="slideChanged(index)" active-slide="slideIndex" auto-play="true" slide-interval="4000" does-continue="true" show-pager="true">
					<ion-slide ng-repeat="list in carouseList">
						<a ng-href="{{list.url}}" target="_blank"><img style="width:100%; height:100%; " ng-src="{{list.img_id}}" alt="{{list.name}}" class="other-img"></a>
					</ion-slide>
				</ion-slide-box>
			</div>

			</div>
			<div class="list">
				<div class="item item-text-wrap" style="border: 0;">
					<a id="product_name" style="color: #333333;">
						<a style=" font-size: 10px; padding: 2px; background-color: #e42112; color: white;">进行中</a>&nbsp;类似爱情 S925镀玫瑰金 天然芙蓉石镶嵌锆石吊坠 存爱</a>
				</div>

				<div class="item" id="notrevealedstate" style="visibility: visible;">
					<div>
						<div style="margin-bottom: 5px;">
							<a class="item-text-wrap" id="activity_code" style="size: 11px; color: #666666;">期号：5b5ac805-62a4-6acc-9ae5-54bafc8977dd</a>
						</div>
						<p id="activity_progress" style="height: 10px;border-radius:5px" class="mui-progressbar mui-progressbar-danger" data-progress="50">
							<span style="border-radius: 4px; transform: translate3d(0%, 0px, 0px); background-color: rgb(221, 82, 77);"></span>
						</p>
						<div style="margin-top: 5px;">
							<a id="total_number" style="color: #333333;">总需6000人次</a>
							<a id="left_number" style="color: red; float: right;">6000</a>
							<a style="float: right;">剩余:&nbsp;</a>
						</div>
					</div>
				</div>

				<a class="item item-icon-right" href="mynumber.html" style="padding-right: 40px;">
					您已购买0人次
					<span class="item-note">查看夺宝号</span>
					<i class="icon ion-chevron-right" style="font-size: 20px;"></i>
				</a>

			</div>
			<div class="list">
				<a class="item item-icon-right" href="http://m.csmall.com/product/item/028A03C00007.html">
					商品详情
					<i class="icon ion-chevron-right" style="font-size: 20px;"></i>
				</a>
				<a class="item  item-icon-right" href="pastpublish.html">
					往期揭晓
					<i class="icon ion-chevron-right" style="font-size: 20px;"></i>
				</a>
			</div>

			<div class="list">
				<div class="item">
					本期参与记录(34条)
				</div>

				<div class="item item-avatar">
					<img src="img/nin_logo.jpeg">

					<h2>Pretty Hate Machine</h2>
					<p id="location_participate" class="mui-ellipsis">广东深圳********</p>
					<p id="count_participate" class="mui-ellipsis">参与了次</p>
				</div>
				<div class="item item-avatar">
					<img src="img/nin_logo.jpeg">

					<h2>Pretty Hate Machine</h2>
					<p id="location_participate" class="mui-ellipsis">广东深圳********</p>
					<p id="count_participate" class="mui-ellipsis">参与了次</p>
				</div>
				<div class="item" style="text-align: center;">
					您没有参加本次夺宝哦
				</div>
			</div>
		</ion-content>
	</body>

</html>