<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/common.css" rel="stylesheet" />
		<script src="lib/ionic/js/ionic.bundle.js"></script>
		<script type="text/javascript">
			var app = angular.module('ionicApp', ['ionic'])
			app.controller('IntroCtrl', function($scope, $state, $ionicSlideBoxDelegate) {
				//为了验证属性active-slide定义的模型，angularjs是mvc模式
				$scope.carouseList = [{
					url: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					img_id: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					name: '5371a63759ed6.jpg'
				}, {
					url: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					img_id: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					name: '5371a63759ed6.jpg'
				}, {
					url: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					img_id: 'http://img3.csmall.com/webPublicity/banner/640_280/5371a63759ed6.jpg',
					name: '5371a63759ed6.jpg'
				}];
				$scope.startApp = function() {
					$state.go('main');
				};
				$scope.next = function() {
					$ionicSlideBoxDelegate.next();
				};
				$scope.previous = function() {
					$ionicSlideBoxDelegate.previous();
				};

				// Called each time the slide changes
				$scope.slideChanged = function(index) {
					$scope.slideIndex = index;
				};
			});

			app.controller('AppCtrl', ['$scope', '$ionicPopover', '$timeout', function($scope, $ionicPopover, $timeout) {
				$scope.choose = function(count) {
					var num_add = parseInt($scope.quantity);
					if(count >= $scope.max) {
						$scope.quantity = $scope.max;
						$scope.maxSwitch = true;
						$scope.minSwitch = false;
					} else {
						$scope.quantity = count;
						$scope.maxSwitch = false;
						$scope.minSwitch = false;
					}
				}
				$scope.numAdd = function() {
					var num_add = parseInt($scope.quantity);
					$scope.maxSwitch = false;
					$scope.minSwitch = false;
					if($scope.quantity == "") {
						num_add = 1;
					}
					if(num_add < $scope.max) {
						$scope.quantity = num_add + 1;
					}
					if($scope.quantity == $scope.max) {
						$scope.maxSwitch = true;
					}
				}
				$scope.numDec = function() {
					$scope.maxSwitch = false;
					$scope.minSwitch = false;
					var num_dec = parseInt($scope.quantity);
					if(num_dec > $scope.min) {
						$scope.quantity = num_dec - 1;
					}
					if($scope.quantity == $scope.min) {
						$scope.minSwitch = true;
					}
				}
				$scope.popover = $ionicPopover.fromTemplateUrl('my-popover.html', {
					scope: $scope
				});
				// .fromTemplateUrl() 方法
				$ionicPopover.fromTemplateUrl('my-popover.html', {
					scope: $scope
				}).then(function(popover) {
					$scope.popover = popover;
				});
				$scope.openPopover = function($event) {
					$scope.popover.show($event);
				};
				$scope.closePopover = function() {
					$scope.popover.hide();
				};
				$scope.closePopover = function() {
					$scope.popover.hide();
				};
				// 清除浮动框
				$scope.$on('$destroy', function() {
					$scope.popover.remove();
				});
				// 在隐藏浮动框后执行
				$scope.$on('popover.hidden', function() {
					// 执行代码
				});
				// 移除浮动框后执行
				$scope.$on('popover.removed', function() {
					// 执行代码
				});

			}])
		</script>
		<style>
			.popover {
				left: 0px;
				width: 100%;
				max-width: 640px;
			}
			
			.nav {
				width: 100%;
				background: #e42112;
				position: fixed;
				max-width: 640px;
				margin: 0 auto;
				bottom: 0;
				line-height: 40px;
				text-align: center;
				vertical-align: middle;
				margin: 0px auto;
				max-width: 640px;
				display: block;
				background-color: white;
			}
			
			.button-light {
				width: 80px;
				line-height: 32px;
				height: 32px;
				min-height: 0px;
			}
			
			.button.button-light {
				border-color: #D9D9D9;
			}
			
			.topaydiv {
				float: right;
				background-color: white;
				text-align: center;
				float: right;
				vertical-align: middle;
				width: 80px;
				font-size: 14px;
				line-height: 40px;
				color: white;
			}
			
			.platform-android .popover-backdrop,
			.platform-android .popover-backdrop.active {
				background-color: rgba(0, 0, 0, .4);
			}
			
			.popover-backdrop {
				background-color: rgba(0, 0, 0, .4);
			}
			
			.button-icon {
				font-size: 20px;
			}
		</style>
	</head>

	<body ng-app="ionicApp" ng-controller="AppCtrl" ng-init="quantity=1;min=1;max=9;maxSwitch=false;minSwitch=true">
		<!--顶部-->
		<div class="bar bar-header bar-dark">
			<button class="button button-icon icon ion-chevron-left" onclick="javascript: history.go(-1);"></button>
			<div class="h1 title">商品详情</div>
			<button class="button button-icon icon ion-share"></button>
		</div>

		<div class="bar bar-footer">

			<!--<div class="title" style="background-color: red;text-align:right;padding-right:6px;margin-left: 250px;margin-right: 0px;">立即前往</div>
			<div class="title" style="text-align: left;width: 250px;float: left;color:black;">新一期正在火热进行中...</div>-->
			<div class="title" style=" margin:0 auto;width: 90px; background-color: red;text-align:right;padding-right:6px;margin-right: 0px;color: white;">立即前往</div>
			<div class="title" style="text-align: left;">新一期正在火热进行中...</div>
		</div>
		<ion-content ng-click="closePopover()" zooming="true" direction="y" scrollbar-y="false" class="content  has-header has-footer" style="background-color: white;">
			<div class="content" ng-controller="IntroCtrl">
				<ion-slide-box style="max-width: 640px;max-height: 200px;" on-slide-changed="slideChanged(index)" active-slide="slideIndex" auto-play="true" slide-interval="4000" does-continue="true" show-pager="true">
					<ion-slide ng-repeat="list in carouseList">
						<a ng-href="{{list.url}}" target="_blank"><img style="width:100%; height:100%; " ng-src="{{list.img_id}}" alt="{{list.name}}" class="other-img"></a>
					</ion-slide>
				</ion-slide-box>
			</div>

			</div>
			<div class="list">
				<div class="item item-text-wrap" style="border: 0;padding-bottom:0px;">
					<a id="product_name" style="color: #333333;">
						<a style=" font-size: 10px; padding: 2px; background-color: black; color: white;">已揭晓</a>&nbsp;类似爱情 S925镀玫瑰金 天然芙蓉石镶嵌锆石吊坠 存爱</a>
				</div>
			</div>
			<div class="list" style="margin: 10px;15px;border:1px solid #D9D9D9;border-radius: 5px;">
				<div class="item item-avatar" style="border-top-width: 0px;border-top-left-radius: 5px; border-top-right-radius: 5px;">
					<img src="img/nin_logo.jpeg">
					<h2>获得者:<a style="color: #e42112;">&nbsp;Pretty Hate Machine</a></h2>
					<p id="location_participate" class="mui-ellipsis">用户id*******</p>
					<p id="count_participate" class="mui-ellipsis">期号*******</p>
					<p id="location_participate" class="mui-ellipsis">本期参与********</p>
					<p id="count_participate" class="mui-ellipsis">揭晓时间********</p>
				</div>
				<div class="item item-button-right" style="background-color: #e42112;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">
					<a id="luck_code" style="color: #FFFFFF;font-size: 12; margin: 0 auto;">0</a>
					<button class="button button-outline button-stable" style="border-color: white;color: white;    border-radius: 2px;">计算详情</button>

					</button>
				</div>
			</div>
			<div class="list">
				<div class="item">
					本期参与记录(1条)
				</div>
				<div class="item item-avatar">
					<img src="img/nin_logo.jpeg">

					<h2>Pretty Hate Machine</h2>
					<p id="location_participate" class="mui-ellipsis">广东深圳********</p>
					<p id="count_participate" class="mui-ellipsis">参与了次</p>
				</div>
				<div class="item" style="text-align: center;">
					您没有参加本次夺宝哦
				</div>
			</div>
		</ion-content>
	</body>

</html>